div {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
  padding-right: 1.8vw;
}
div.operation {
  height: 40vh;
  width: 98%;
  background-color: #ffb6c1;
}
div.solution {
  height: 10vh;
  width: 98%;
  background-color: lightgoldenrodyellow;
}
table {
  border-radius: 5px;
  background-color: grey;
}
td {
  height: 10vh;
  width: 20vw;
  border-radius: 10px;
  text-align: center;
  background-color: lightblue;
}
.number {
  background-color: lightgray;
}
.operator {
  background-color: lightgreen;
}